body{
    background: rgb(240, 240, 230)
}

.maincontaindiv {
    background: white;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: 0 0 15px 0px rgb(150, 150, 150) !important;
    padding: 1%;
}

.moneydiv {
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    top: 0;
}

.slider-range {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    bottom: 0;
}

.centerbutton{
    position: relative;
    width:30%;
    left:35%;
    right:55%;
}